.quantidade {
  padding: 16px 0;
  border-bottom: 1px solid $cinza-linhas;
}

.quantidade-nav {
  @include flexbox;
  h2 {
    @include tipo-1(18);
    font-weight: 700;
  }
  p {
    @include tipo-1(16);
  }
}
.produtos {
  padding: 32px 0 64px 0;
  @include responsivo(mobile) {
    padding: 32px 0;
  }
}

.galeria {
  @include grid-layout;
  margin: 32px auto 64px auto;
  justify-content: center;
 
  grid-gap: 32px;
    img {
      width: 100%;
      border-radius: 10px;
    }
    h2 {
      padding-top: 16px;
      padding-bottom: 8px;
      @include tipo-1(18);
    }
    span {
      color: $preto;
      margin-right: 2px;
      font-weight: 400;
      @include tipo-1(16);
    }
    p {
      @include tipo-1(18);
      color: $verde;
      font-weight: 700;
    }
    @include responsivo(mobile){
      margin: 32px auto 32px auto;
      p, h2 {
        @include tipo-1(16);
      }
    }
  }
  
